/* 色関係の変数 */
$c-black: #242424;

$c-gray--darkest: #323232;
$c-gray--dark: #444444;
$c-gray: #8d8d8d;
$c-gray--light: #c4c4c4;
$c-gray--lighter: #f3f3f3;

$c-tp--dark: rgba(0, 0, 0, 0.7);
$c-tp: rgba(0, 0, 0, 0.2);

$c-red: #ff6363;
$c-blue: #646cff;

/* フォント関係の変数 */
$fz-largest: 2em;
$fz-larger: 1.8em;
$fz-large: 1.5em;
$fz-mid-large: 1.2em;
$fz-normal: 1em;
$fz-small: 0.9em;
$fz-smaller: 0.8em;
$fz-smallest: 0.6em;

/* メディアクエリ用変数 */
$mq-breakpoints: (
  'xs': 421px,
  'sm': 576px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
  'xxl': 1920px,
) !default;
